---
import "../styles/global.css";
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>羊宫事件薄</title>
    <Analytics />

	</head>
	<body class="h-screen max-h-screen mx-auto bg-[#3388bb]">
    <div class="fixed-full bg-[url(https://cdn.jsdelivr.net/gh/qiyuor2/blog-image/img/youmiya/20250706.jpg)] bg-top bg-cover bg-no-repeat"></div>
		<div class="fixed-full bg-gradient-mask bg-black bg-op-50"></div>

		<slot />

	</body>
</html>

